<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
  <display-name>ezscore</display-name>
  <listener>
	<listener-class>org.lccgymnastics.ezscore.api.EMF</listener-class>
  </listener>
  <servlet>
    <servlet-name>EZScoreServlet</servlet-name>
    <servlet-class>org.lccgymnastics.ezscore.api.EZScoreServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>EZScoreServlet</servlet-name>
    <url-pattern>/ezscore</url-pattern>
  </servlet-mapping>  
  <context-param>
    <param-name>HOMETEAM</param-name>
    <param-value>La Costa Canyon</param-value>
  </context-param>
  <context-param>
    <param-name>TEAMS</param-name>
    <param-value>La Costa Canyon,Fallbrook,Mount Carmel,Our Lady of Peace,Poway,Rancho Bernardo,Torrey Pines,Westview,Del Norte,Canyon Crest,Eastlake,Otay Ranch,High Tech High,High Tech High CV,Montgomery,San Ysidro,Olympian,Hill Top,Bonita Vista,Castle Park,Chula Vista,West Hills,Santana,Other</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
